/*==============================
 *  Career Form
=================================*/

.stdl-section-career {

}

.stdl-career{
    .stdl-icon-lists {
        margin-top: 45px;
        .stdl-icon-list {
            margin-bottom: 15px;
            &__text {
                font-size: 16px;
            }
        }
    }
    .stdl-career__details {
        .stdl-career__desc {
            * {
                color: var(--color-white);
            }
            ul {
                list-style: disc;
                padding-left: 17px;
            }
            ol {
                list-style: auto; 
                padding-left: 17px;
            }
            b,
            strong {
                font-weight: 600;
            }
        }
    }
}