/*-------------------
  Custom Terms Links style
---------------------*/
.custom-link-block {
    .section-header {
        .stdl-tagline {
            opacity: 1 !important;
            visibility: visible !important;
            transform: translate3d(0, 0, 0) !important; 
        }
    }
    .custom-link-wrapper {
        display: inline-flex;
        gap: 10px;
        justify-content: center;
        align-items: center;
        a {
            color: var(--color-gray);
            text-align: center;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 1;
            text-align: center;
            padding: 5px 10px;
            border-radius: 30px;
            background: var(--color-light-gray);
            &:hover {
                color: var(--color-black);
                background: var(--color-white);
            }
        }
    }
}