/*-------------------
  Google Reviews Styles
---------------------*/
.ggle-ctc-items {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 40px;
    gap: 20px;
    .ggle-ctc-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 16px;
        &__icon {
            svg {
           
            }
        }
        &_stars {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            flex-wrap: nowrap;
            align-items: flex-start;
            .no {
                font-size: 12px;
                line-height: 23px;
                font-weight: 300;
                text-align: left;
                color: var(--color-gray);
            }
        }
        .reviewer__ratings {
            padding: 0;
            margin: 0;
            list-style: none;
            display: flex;
            align-items: center;
            padding-left: 0;
            li {
                list-style: none;
                display: inline-block;
                margin-bottom: -10px;
                margin: 0;
                margin-right: 5px;
                &.star-active {
                    color: #F1BE41;
                }
                span {
                    line-height: 1;
                }
                svg {
                    width: 12px;
                    line-height: 1;
                }
                @include breakpoint(md) {
                    svg {
                        width: 14px;
                        line-height: 1;
                    }
                 }
            }
        }
        &.ggle-ctc-item-2 {
            .reviewer__ratings {
                li {
                    &.star-active {
                        color: #D75947;
                        svg path {
                            fill: #D75947;
                            stroke: #D75947;
                        }
                    }
                }
            }
        }
    }
}