/*-------------------
  Icon List Styles
---------------------*/
.stdl-icon-lists {
    @extend %liststyle; 
    margin-top: 32px;
    .stdl-icon-list {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
        line-height: 1.1;
        gap: 22px;
        &__icon {

        } 
        
        &__text {
            color: var(--color-white);
            font-size: 13px;
            line-height: 1;
        }
    }
}