/*-------------------------
    Animations
-------------------------*/


/*--------------------------------------------------
	02. Magic Cursor
---------------------------------------------------*/	
	
@keyframes bgcolor-change-3x {
  0% {
    background: var(--bgcolorStart);
  }

  33% {
    background: var(--bgcolorSecond);
  }
  66% {
    background: var(--bgcolorThird);
  }
  100% {
    background: var(--bgcolorStart);
  }
}

#magic-cursor {
    position: absolute;
    left:0;
    top:0;
    width: 30px;
    height: 30px;
    pointer-events: none;
    z-index:10000;
    -webkit-transition: opacity 0.2s ease-in-out 0.5s;
      transition: opacity 0.2s ease-in-out 0.5s;
  }
  
  .hidden-ball #magic-cursor {
      opacity:0!important;
      visibility:hidden;
  }
  
  #ball {
    position: fixed;
    z-index: 1000001;
    width: 40px;
    height: 40px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    margin: -5px 0 0 -5px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 80%;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    pointer-events: none;
    backface-visibility: hidden;
    -webkit-transform-origin: center center;
            transform-origin: center center;
    transition: all 0.5s cubic-bezier(0.36, 0.03, 0, 0.91);
    transition-property: border, -webkit-transform;
    transition-property: transform, border;
    transition-property: transform, border, -webkit-transform;
  }
  
//   .mfp-zoom-out-cur #ball {
//       opacity:0;
//       -webkit-transition: opacity 0.2s ease-in-out 0s;
//       transition: opacity 0.2s ease-in-out 0s;
//   }
  
//   .light-content #ball, #ball.over-movie,  .light-content #ball.with-icon {
//       border: 2px solid #999999;
//       border-color:#999999;
//   }
  
//   #ball:before {
//       font: var(--fa-font-solid);
//       content: "\f106";
//       font-size:14px;
//       width:8px;
//       height:16px;
//       line-height:16px;
//       text-align:center;
//       position:absolute;
//       left: 32px;
//       top: -42px;
//       color:#999;
//       opacity:0;
//       transform: translateY(-20px);
//       -webkit-transform: translateY(-20px);
//       transition: all 0.15s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
//   }
  
//   .light-content #ball:before {
//       color:#999;
//   }
  
//   #ball::after {
//       font: var(--fa-font-solid);
//       content: "\f107";
//       font-size: 14px;
//       width: 8px;
//       height: 16px;
//       line-height: 16px;
//       text-align: center;
//       position: absolute;
//       left: 32px;
//       top: 100px;
//       color: #999;
//       opacity:0;
//       transform: translateY(20px);
//       -webkit-transform: translateY(20px);
//       transition: all 0.15s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
//   }
  
//   .light-content #ball:before, .light-content #ball:after {
//       color:#999;
//   }
  
//   .scale-up #ball:before, .scale-drag-horizontal #ball:before {
//       opacity:1;
//       transform: translateY(0px);
//       -webkit-transform: translateY(0px);
//       transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
//   }
  
//   .scale-drag-horizontal #ball:before {
//       color: #fff;
//   }
  
//   .scale-up #ball:after, .scale-drag-horizontal #ball:after {
//       opacity:1;
//       transform: translateY(0px);
//       -webkit-transform: translateY(0px);
//       transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
//   }
  
//   .scale-drag-horizontal #ball:after {
//       color: #fff;
//   }
  
//   .scale-up.scale-none #ball:before, .scale-up.scale-none #ball:after {
//       opacity:0;
//   }
  
//   #ball-drag-x {
//       position: absolute;
//       width: 72px;
//       height: 72px;
//       pointer-events: none;
//       opacity:1;
//       box-sizing:border-box;	
//   }
  
//   #ball-drag-x::before {
//       font: var(--fa-font-solid);
//       content: "\f053";
//       font-size: 14px;
//       width: 8px;
//       height: 16px;
//       line-height: 16px;
//       text-align: center;
//       position: absolute;
//       left: -37px;
//       top: 30px;
//       color: #000;
//       opacity: 0;
//       transform: translateX(-20px);
//       -webkit-transform: translateX(-20px);
//       transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
//   }
  
//   .light-content #ball-drag-x:before {
//       color:#fff;
//   }
  
//   #ball-drag-x::after {
//       font: var(--fa-font-solid);
//       content: "\f054";
//       font-size: 14px;
//       width: 8px;
//       height: 16px;
//       line-height: 16px;
//       text-align: center;
//       position: absolute;
//       right: -40px;
//       left: auto;
//       top: 30px;
//       color: #000;
//       opacity: 0;
//       transform: translateX(20px);
//       -webkit-transform: translateX(20px);
//       transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
//   }
  
//   .light-content #ball-drag-x:before, .light-content #ball-drag-x:after {
//       color:#fff;
//   }
  
//   .drag-cursor-white #ball-drag-x:before, .drag-cursor-white #ball-drag-x:after {
//       color:#fff;
//   }
  
//   .drag-cursor-black #ball-drag-x:before, .drag-cursor-black #ball-drag-x:after {
//       color:#000;
//   }
  
//   .scale-drag-x #ball-drag-x:before {
//       opacity:1;
//       transform: translateX(0px);
//       -webkit-transform: translateX(0px);
//       transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
//   }
  
//   .scale-drag-x #ball-drag-x:after {
//       opacity:1;
//       transform: translateX(0px);
//       -webkit-transform: translateX(0px);
//       transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
//   }
  
//   .scale-up.scale-drag #ball-drag-x:before, .scale-up.scale-drag #ball-drag-x:after {
//       opacity:0;
//   }
  
//   #ball-drag-y {
//       position: absolute;
//       width: 72px;
//       height: 72px;
//       pointer-events: none;
//       opacity:1;
//       box-sizing:border-box;	
//   }
  
//   #ball-drag-y:before {
//       font: var(--fa-font-solid);
//       content: "\f077";
//       font-size:14px;
//       width:8px;
//       height:16px;
//       line-height:16px;
//       text-align:center;
//       position:absolute;
//       left: 32px;
//       top: -40px;
//       color:#000;
//       opacity:0;
//       transform: translateY(-20px);
//       -webkit-transform: translateY(-20px);
//       transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
//   }
  
//   .light-content #ball-drag-y:before {
//       color:#fff;
//   }
  
//   #ball-drag-y::after {
//       font: var(--fa-font-solid);
//       content: "\f078";
//       font-size: 14px;
//       width: 8px;
//       height: 16px;
//       line-height: 16px;
//       text-align: center;
//       position: absolute;
//       left: 32px;
//       top: 100px;
//       color: #000;
//       opacity:0;
//       transform: translateY(20px);
//       -webkit-transform: translateY(20px);
//       transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
//   }
  
//   .light-content #ball-drag-y:before, .light-content #ball-drag-y:after {
//       color:#fff;
//   }
  
//   .scale-drag-y #ball-drag-y:before {
//       opacity:1;
//       transform: translateY(0px);
//       -webkit-transform: translateY(0px);
//       transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
//   }
  
//   .scale-drag-y #ball-drag-y:after {
//       opacity:1;
//       transform: translateY(0px);
//       -webkit-transform: translateY(0px);
//       transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
//   }
  
//   .scale-up.scale-drag #ball-drag-y:before, .scale-up.scale-drag #ball-drag-y:after {
//       opacity:0;
//   }
  
//   #ball i {
//       color:#fff;
//       width:76px;
//       height:80px;
//       line-height:78px;
//       text-align:center;
//       font-size:14px;
//       display:block;
//       opacity:1;
//       transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
//   }
  
  #ball p {
      color:#fff;
      width:33px;
      height:16px;
      line-height:16px;
      padding-top:0px;
      padding-left:5px;
      margin:0;
      text-align:center;
      font-size:8px;
      font-weight:600;
      display:block;
      opacity:1;
      transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  }
  
  .light-content #ball p {
      color:#fff;
  }
  
  #ball p.first {
      padding-top:5px;
  }
  
//   .light-content #ball i, #ball.over-movie i, .light-content #ball.with-icon i {
//       color:#fff;
//   }
  
//   .drag-cursor-white #ball i, .drag-cursor-white #ball.with-icon i {
//       color:#fff;
//   }
  
//   .drag-cursor-black #ball i, .drag-cursor-black #ball.with-icon i {
//       color:#000;
//   }
  
//   .light-content #ball.with-icon.dark-icon i {
//       color:#000;
//   }
  
//   .scale-up #ball i {
//       opacity:0;
//       transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
//   }
  
//   #ball.with-icon i {
//       width:76px;
//   }
  
//   #ball.with-icon i:nth-child(2) {
//       display:none;
//   }
  
//   #ball.close-icon i {
//       width:75px;
//       height:76px;
//       font-size:14px;
//   }
  
//   #ball.over-movie i.fa-play, #ball.over-movie.pause-movie i.fa-pause {
//       display:block;
//   }
  
//   #ball.over-movie i.fa-pause, #ball.over-movie.pause-movie i.fa-play {
//       display:none;
//   }
  
  #ball-loader {
      width: 100px;
      height: 100px;
      position:absolute;
      background-color: transparent;
      border-right: 4px solid transparent;
      border-bottom: 4px solid #999999;
      border-left: 4px solid transparent;
      border-top: 4px solid transparent;
      border-radius: 100px;
      box-sizing: border-box;
      opacity:0;
      -webkit-transform: translate(-14px, -14px) rotate(0deg);
      transform: translate(-14px, -14px) rotate(0deg);
      -webkit-animation: rotating 0.8s ease-in-out infinite;
      animation: rotating 0.8s ease-in-out infinite;
      -webkit-transition: opacity 0s ease-in-out 0s;
      transition: opacity 0s ease-in-out 0s;
  }
  
  .light-content #ball-loader { 
      border-bottom: 4px solid #999999;
  }
  
  .show-loader #ball-loader {
      opacity:1;
      -webkit-transition: opacity 0.2s ease-in-out 0s;
      transition: opacity 0.2s ease-in-out 0s;
  }
  
//   @keyframes rotating {
//     0% {
//       -webkit-transform: translate(-14px, -14px)rotate(0deg);
//       transform:  translate(-14px, -14px) rotate(0deg);
//     }
    
//     95% {
//       -webkit-transform:  translate(-14px, -14px) rotate(350deg);
//       transform:  translate(-14px, -14px) rotate(350deg);
//     }
    
//     100% {
//       -webkit-transform:  translate(-14px, -14px) rotate(360deg);
//       transform:  translate(-14px, -14px) rotate(360deg);
//     }
//   }
  
//   .show-loader a, .show-loader nav, .scale-up a, .scale-up .hide-ball, scale-up .link, .scale-up .button-wrap, .scale-up #burger-wrapper, .scale-up .disable-drag, .scale-drag a, .scale-drag .move-title {
//       pointer-events:none!important;
//   }
  
  .disable-cursor #magic-cursor {
      display:none;
  }
  #magic-cursor {
    display: none;
    @include breakpoint(lg) {
      display:block;
    }
  }

  
//   #ball i.arrow-icon {
//       border: solid #000;
//       border-width: 3px 3px 0px 0px;
//       box-sizing:border-box;
//       display: block;
//       position:absolute;
//       top:28px;
//       left:30px;
//       height:20px;
//       width:20px;
//   }
  
//   .light-content #ball i.arrow-icon {
//       border: solid #fff;
//       border-width: 3px 3px 0px 0px;
//   }
  
//   #ball i.arrow-icon:after {
//       content:"";
//       position:absolute;
//       width:30px;
//       height:3px;
//       top:8px;
//         left:-8px;
//       background-color:#000;
//       transform: rotate(-45deg);
//         -webkit-transform: rotate(-45deg);
//   }
  
//   .light-content #ball i.arrow-icon:after {
//       background-color:#fff;
//   }
  
  .light-content .pointer {
    position: fixed;
    z-index: 1000000;
    width: 10px;
    height: 10px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    margin: -5px 0 0 -5px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 80%;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    pointer-events: none;
    backface-visibility: hidden;
    -webkit-transform-origin: center center;
            transform-origin: center center;
    transition: background 0.5s cubic-bezier(0.36, 0.03, 0, 0.91);
  }
  .light_theme {
    .light-content .pointer {
      background: rgba(0, 0, 0, 0.8);
    }
    .light-content #ball {
      border-color: rgba(0, 0, 0, 0.8);
    }
  }

  @-webkit-keyframes fadeInDown {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes fadeInDown {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  .fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
  }

  @-webkit-keyframes fadeInDown {
    0% { 
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    50% { 
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
@keyframes stdlloader {
  0% { 
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% { 
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

