/* ===============
    Menu
===================*/

ul.stdl-menu-wrapper {
    >.menu-item {
        display: inline-flex;
        line-height: 1;
        align-items: center;
        flex-direction: column;
        >.stdl-dropdown {
            opacity: 0;
            visibility: hidden;
            position: absolute;
            top: 100%;
            z-index: 999;
            left: 0;
            margin-left: 0;
            width: auto;
            min-width: 220px;
            text-align: left;
            z-index: -1;
            pointer-events: none;
            padding: 20px 0 20px 20px;
            background-color: var(--color-dark);
            border-radius: 4px;
            border: 1px solid var(--color-light-gray);
            -webkit-transition-duration: 0.2s;
            transition-duration: 0.2s;
            -webkit-transform: translateY(10px);
            transform: translateY(10px);
            >li>a,
            >.stdl-dropdown>li>a {
                padding: 10px 10px 10px 10px;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }
        > a {
            .stdl-nav-icon {
                width: 18px;
                height: 18px;
                transform: rotate(-180deg);
                transition: transform 0.3s ease-in-out;
            }
        }
        
        &:hover {
            >.stdl-dropdown {
                pointer-events: auto;
                opacity: 1;
                visibility: visible;
                top: 100%;
                z-index: 999;
                -webkit-transform: translateY(0px);
                transform: translateY(0px);
            }
            .stdl-nav-icon {
                transform: rotate(0deg);
            }
        }
    }
    li.menu-item-has-children {
        a {
            display: flex;
            align-items: center;
            gap: 5px;
        }
    }
    li {
        &.menu-simple-dropdown {
            position: relative;
        }
        margin: 0;
        a{
            font-size: 15px;
            padding: 15px 10px;
            line-height: 1.2;
           &:hover {
                color: var(--color-light-gray);
            }
        }
        .stdl-dropdown {
            a {
                font-size: 15px;
            }
        }
    }

}

ul.stdl-menu-wrapper>.menu-item>.stdl-dropdown>li>a {
    padding: 10px 10px 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .stdl-nav-icon {
        transition: 0.3s ease-in-out;
    }
    
}

ul.stdl-menu-wrapper .menu-item>.stdl-dropdown .stdl-dropdown {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    list-style: none;
    top: 0;
    left: 110%;
    min-width: 200px;
    background-color: var(--color-dark);
    border-radius: 4px;
    border: 1px solid var(--color-light-gray);
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

ul.stdl-menu-wrapper>.menu-item>.stdl-dropdown li:hover>.stdl-dropdown {
    pointer-events: auto;
    opacity: 1;
    visibility: visible;
    left: 100%;
}

ul.stdl-menu-wrapper>.menu-item>.stdl-dropdown li:hover {
    > a {
        .stdl-nav-icon {
            transform: rotate(-90deg);
        }
    }
}

ul.stdl-menu-wrapper {
    .menu-item {
        .stdl-megamenu-wrapper {
            opacity: 0;
            visibility: hidden;
            position: absolute;
            top: 100%;
            z-index: 999;
            left: 0;
            margin-left: 0;
            width: auto;
            min-width: 100%;
            min-height: 350px;
            text-align: left;
            z-index: -1;
            pointer-events: none;
            padding: 40px 20px 40px 20px;
            background-color: var(--color-dark);
            border-radius: 4px;
            border: 1px solid var(--color-light-gray);
            -webkit-transition-duration: 0.2s;
            transition-duration: 0.2s;
            -webkit-transform: translateY(10px);
            transform: translateY(10px);
            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(0deg, rgba(24,24,24,0.9), rgba(24,24,24,0.9)),url(../img/blur-pattern.png);
                z-index: -3;
                opacity: 0.2;
                transition: opacity 500ms ease 0ms, visibility 500ms ease 0ms, transform 500ms ease 0ms;
            }
            .service-items {
                .service-item {
                    padding: 0;
                    >a {
                        justify-content: center;
                        align-items: center;
                        padding: 36px 25px;
                        width: 100%;
                        @include breakpoint(md) {
                            padding: 51px 46px;
                        }
                    }
                }
            }
        }
        &:hover {
            >.stdl-megamenu-wrapper {
                pointer-events: auto;
                opacity: 1;
                visibility: visible;
                top: 100%;
                z-index: 999;
                -webkit-transform: translateY(0px);
                transform: translateY(0px);
            }
        }
    }
}

.stdl-grid-col-2-3rd {
    display: grid;
    gap: 40px;
    @include breakpoint(md) {
        grid-template-columns: 1fr 2fr;
    }
    .service-items {
        &.stdl-grid-col-2 {
            gap: 16px;
        }
    }
}

.stdl-grid-col-1-4rd {
    display: grid;
    gap: 40px;
    @include breakpoint(md) {
        grid-template-columns: 1fr 3fr;
    }
    .service-items {
        &.stdl-grid-col-2 {
            gap: 16px;
        }
    }
}

.stdl-megamenu-wrapper {
    .menu-tagline{
        display: inline-block !important;
        color: var(--color-white);
        padding: 4px 12px;
        font-size: 14px;
        border-radius: 4px;
        background: var(--color-light-gray);
        &:hover {
            color: var(--color-white);
        }
    }
    .menu-link-items {
        padding: 0;
        margin: 20px 0 0; 
        margin-left: -15px;
        .menu-link-item {
            margin-bottom: 15px;
            padding: 15px 15px;
            border-radius: 0px;
            border-bottom: 1px solid var(--color-light-gray);
            transition: all 0.3s ease-in-out;
            a {
                display: block !important;
                padding: 0;
                color: var(--color-white);
                font-size: 16px;  
                line-height: 1.2;
            }
            span {
                display: block;
                color: var(--color-light-gray);
                font-size: 14px;  
                &:first-child {
                    color: var(--color-white);
                    font-size: 16px;  
                    line-height: 1.2;
                    padding-bottom: 10px;
                }
            }
            &:hover {
                border-radius: 10px;
                span,
                a {
                    color: var(--color-white);
                }
                background: var(--color-light-gray);
            }
        }
    }
}
.sdtl-featured-wrap {
    margin-top: 30px;
}

.sdtl-featured-grid {
    margin-bottom: 20px;
    a.featured-link {
        padding: 0 !important;
        display: grid !important;
        gap: 20px !important;
        grid-template-columns: 1fr 2fr !important;
        img {
            border-radius:4px;
            width: 100px;
            height: 100px;
            object-fit: cover;
            max-width: 100%;
        }
        h4 {
            font-size: 16px;
            font-weight: 600;
            line-height: 24px;
        }
    }
   
}